
spring:
  cloud:
    config:
      discovery:
        enabled: true
        serviceId: config-server
      profile: pro
      label: master #(我已经在config-server里边设置过读取dev，但是实际测试这里如果不设置的话config-server读取的还是master，不知道是不是个bug)
#日志
logging:
  level:
    com:
      example:
        pointshare:
          #开启输出feign
          feign:
            PointFeignClient: DEBUG

#开启断路由
feign:
  hystrix:
    enabled: true